html{
  background-color: rgb(76, 76, 144);
}

.container-fluid{
  background-color: rgb(76, 76, 144);
}

input[type='text']{
  background: transparent; 
  color: black;
}

input[type='text']:focus{
  background: transparent;
  color: black; 
}

.margin{
  margin-left: 13px;
  margin-bottom: 25px;
}

.text-center{
  margin-bottom: 25px;
}